.button
  font-weight: 600
  font-size: 19px
  line-height: 26px
  color: white
  box-shadow: 0 0 40px 1px rgba(255, 106, 173, 1)
  border-radius: 17px
  background: #ff0072 radial-gradient(circle at center -60px, #fff, transparent)
  height: 90px
  width: 360px
  text-transform: uppercase
  border: none
  cursor: pointer

  &:hover
    box-shadow: 0 0 60px 1px rgba(255, 106, 173,1)

