.section
  padding-top: 105px
  padding-bottom: 220px
  width: 860px
  margin: auto
  @media (min-width: 1024px)
    width: 1120px
    padding-top: 210px
    padding-bottom: 320px

.slider
  padding: 0 50px
