.production
  height: 176vw
  @media (orientation: landscape)
    height: 62vw

.video
  position: absolute
  top: 0
  left: 0
  width: 100%
  margin-bottom: -5px
  display: none
  @media (orientation: landscape)
    display: block

.videoMobile
  position: absolute
  top: 0
  left: 0
  width: 100%
  margin-bottom: -5px
  @media (orientation: landscape)
    display: none

.text
  position: absolute
  left: 0
  right: 0
  margin: 0 35px
  bottom: 18vw
  font-size: 18px
  text-shadow: 0 10px 5px black
  @media (min-width: 768px)
    bottom: 10vw

