.wrap
  position: relative
  height: 105vw
  background: url("assets/planet.png") center center / contain no-repeat
  @media (min-width: 1280px)
    height: 70vw

.header
  position: absolute
  left: 0
  right: 0
  bottom: 12vw
  @media (min-width: 1280px)
    bottom: 10vw

.image
  position: absolute
  left: 50%
  will-change: transform
  img
    width: 100%

.redbull
  top: 17vw
  margin-left: -35vw
  width: 20vw

.rocket
  width: 40vw
  top: 15vw
  left: -14vw

.stateBoard
  width: 20vw
  top: 36vw
  margin-left: -18vw

.meteor
  top: 30vw
  margin-left: 20vw
  width: 20vw

.stone1
  top: 86vw
  left: -3vw
  width: 10vw

.stone2
  top: 102vw
  right: -2vw
  left: auto
  width: 15vw

.imageParallax
  position: relative

.bus1
  top: -5vw
  left: 57vw
  width: 46vw

.bus2
  top: 94vw
  left: 37vw
  width: 30vw
  @media (min-width: 1280px)
    top: 60vw
