.reviews
  padding: 0 0 500px
  width: 870px
  margin: auto
  @media (min-width: 1024px)
    padding: 200px 0 800px
    width: 1170px

.reviewsContent
  position: relative

.review
  width: 100%
  text-align: left
  position: relative
  padding: 0 20px

.header
  font-family: "Muller", sans-serif
  font-size: 35px
  font-weight: 800
  @media (min-width: 1024px)
    font-size: 44px

.subtitle
  font-family: "Muller", sans-serif
  font-style: italic
  font-size: 17px
  font-weight: 400
  @media (min-width: 1024px)
    font-size: 21px

.description
  width: 400px
  opacity: 0.5
  font-size: 14px
  font-weight: 400
  line-height: 20px
  @media (min-width: 1024px)
    width: 500px
    font-size: 16px
    line-height: 24px

.image
  position: absolute
  top: 0
  right: 140px
  transform-origin: top right
  transform: scale(.6)
  @media (min-width: 1024px)
    top: -70px
    right: 90px
    transform: scale(1)
