.wrap
  position: relative
  height: 900px
  background: url("./planet.png") center center / contain no-repeat
  @media (min-width: 1024px)
    height: 1440px

.image
  position: absolute
  left: 50%
  transform: scale(.6)
  @media (min-width: 1024px)
    transform: scale(1)

.tShirt
  top: 50px
  margin-left: -450px
  @media (min-width: 1024px)
    top: 50px
    margin-left: -450px

.rocket
  top: 0
  margin-left: -710px
  @media (min-width: 1024px)
    top: 300px
    margin-left: -1120px

.meteor
  top: 0
  margin-left: 200px
  @media (min-width: 1024px)
    top: 0
    margin-left: 550px

.redbull
  top: 300px
  margin-left: -400px
  @media (min-width: 1024px)
    top: 600px
    margin-left: -400px

.mask
  margin-left: 60px
  top: 650px
  @media (min-width: 1024px)
    margin-left: 300px
    top: 1050px

.stateBoard
  top: 500px
  margin-left: 200px
  @media (min-width: 1024px)
    top: 750px
    margin-left: 400px
