.slider
  width: 1200px
  margin: auto

.arrow
  top: 0
  bottom: 0
  margin: auto
  border: 0
  cursor: pointer
  width: 35px
  height: 24px
  background: url('nextOff.png') no-repeat

  &:hover, &:focus, &:active
    background: url('nextOn.png') no-repeat

.PREV
  transform: rotate(180deg)


.pagination
  margin-top: 20px
  display: flex
  margin-left: 70px
  align-self: self-start

.paginationItem
  border-radius: 50%
  width: 14px
  height: 14px
  opacity: .4
  transition: .3s
  background: #fff
  cursor: pointer

  & + .paginationItem
    margin-left: 24px

.paginationActive
  opacity: 1
