.slider
  margin: auto
  div[tabindex]
    outline: none

.arrow
  top: 0
  bottom: 0
  margin: auto
  border: 0
  cursor: pointer
  width: 29px
  height: 23px
  background: url('next_off.png') center center no-repeat
  background-size: 29px 23px
  position: relative
  z-index: 0
  @media (min-width: 768px)
    width: 49px
    height: 34px
    background-size: 35px 24px
  @media (max-width: 489px)
    &.short
      position: absolute
      right: 10px
      top: 0
      margin-top: 40px
      z-index: 10
  @media (min-width: 1280px)
    width: 85px
    height: 73px
    background-size: 85px 73px
  &:hover, &:focus, &:active
    background: url('next_on.png')  center center no-repeat
    background-size: 29px 23px
    @media (min-width: 768px)
      background-size: 35px 24px
    @media (min-width: 1280px)
     background-size: 85px 73px

.PREV
  transform: rotate(180deg)
  @media (max-width: 489px)
    &.short
      position: absolute
      right: 40px
      top: 0

.pagination
  margin-top: 0
  display: flex
  align-self: flex-start
  @media (min-width: 768px)
    margin-top: 20px

.paginationItem
  border-radius: 50%
  width: 7px
  height: 7px
  opacity: .4
  transition: .3s
  background: #fff
  cursor: pointer
  @media (min-width: 1280px)
    width: 8px
    height: 8px
  & + .paginationItem
    margin-left: 12px
    @media (min-width: 768px)
      margin-left: 14px

.paginationActive
  opacity: 1
